{% extends "AMAyS_homepage.html" %}
{% block content %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	#Divisor{
		color: blue;
		background-color:white;
		text-align: center;
	}
	#Divisor:hover{color: white; background-color:azure;}
	#Videocentrado{
		text-align: center;
		background-color: rgb(181, 255, 132);
		margin: 10px;
		padding: 20px;
	}
	h2 {
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
	h3 {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
</style>

<body>
	<!-- div id="Divisor">
		<p><img src="{% static 'img/Logo_AMAyS_chico.png' %}" alt="Logo" height="32px"></p>
	</div -->

	<hr>
	<div class="container">
		<h2> Miembros de AMAyS </h2>
		<h3> Órgano directivo </h3>
		<h4> ... </h4>
		<h4> ... </h4>
		<h4> ... </h4>
		<h3> Órgano de fiscalización</h3>
		<h4> ... </h4>
		<h4> ... </h4>
		<h4> ... </h4>
	</div>

</body>
<!-- Optional JavaScript -->

{% endblock %}
