{% load static %}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>AMAyS</title>
	<style>	
		h5 {
		color: rgb(128, 0, 0);
		text-align:left;
		line-height: 12px;
		font-size:medium;
		}
	</style>

</head>
  <body>
    <h1 style="color:rgb(168, 0, 0); background-color: rgb(255, 255, 128); padding: 8px;">
		<img src="{% static 'img/Logo_AMAyS_chico.png' %}" alt="Logo" > A. M. A. y S.    
	</h1>  
<!--	{% for opcion in opciones %}
		<button type="button" class="btn btn-info btn-sm"> {{opcion}} </button>
	{% endfor %} -->
	<button type="button" class="btn btn-info btn-sm"> {{opciones.0}} </button>
	<button type="button" class="btn btn-info btn-sm"> {{opciones.1}} </button>
	<button type="button" class="btn btn-info btn-sm"> {{opciones.2}} </button>
	<button type="button" class="btn btn-info btn-sm"> {{opciones.3}} </button>
	<button type="button" class="btn btn-info btn-sm"> {{opciones.4}} </button>
	<hr>

{% block content %}

{% endblock %}

<!--footer-->
<hr>
<footer class="page-footer white">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h4 class="grey-text">
					Asociación Mutual de Agentes y 
					<p>Sub-agentes de Lotería Chaqueña</p>
				</h4>
				<h5 class="grey-text text-darken-4">
					<p>Arbo y Blanco 292, </p>
					<p>Resistencia(Chaco)</p>
					<p>Tel.362-4487936/15186200</p>
					<p>Correo: amays_lot@hotmail.com</p>
				</h5>
			
		</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="grey-text">
					<p></p>
					<p>Otros enlaces</p>
					<p><a class="grey-text text-darken-4 right" href="https://loteria.chaco.gov.ar/" target="_blank">Lotería Chaqueña</a></p>
					<p><a class="grey-text text-darken-4 right" href="#!">Cámara de permisionarios</a></p>
				</h5>
				<ul>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container grey-text text-darken-4">
			© 2020 Copyright AMAyS. Todos los derechos reservados. :: Página web: José Durán
			<!-- a class="grey-text text-darken-4 right" href="#!">Otros enlaces</a -->
		</div>
	</div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>

